  {{!-- partial to generate posts --}}
  <div class="row justify-content-center">
  <div class="col-8">
<section class="login-card">

  <a href="/post/{{id}}">
    <h1>{{title}}</h1>
    <h2>Posted by {{username}} on {{format_date createdAt}}</h2>
    <p>{{content}}</p>
  </a>

</section>
  </div>
  </div>